<div class="">
  <div>
   <select name="" id="" class="form-control shadow-none" onchange="window.location.href = '?category_id=' + this.value">
      <option value="">الإقسام</option>
      <% Category.all.each do |category| %>
      <option <%= category.id.to_s == params[:category_id] ? 'selected=""' : '' %> value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>

  <% @products.each do |product| %>
    <%= render 'products/product', product: product do %>
      <%= render 'carts/new', product: product %>
    <% end %>
  <% end %>
</div>