<%= link_to order_path(order), class: 'd-block text-dark p-2 bg-white mb-2 order-item text-decoration-none' do %>
    <h4 class="text-primary">#<%= order.id %></h4>
    <div>حالة الطلب: <%= order_status order.status %></div>
    <div>عدد المنتجات: <%= order.products_count %></div>
    <div>تاريخ الطلب: منذ <%= time_ago_in_words order.created_at %></div>
<% end %>