<h3>طلباتي</h3>

<div>
 
  <% @orders.each do |order| %>
    <%= link_to order_path(order) do %>
    <h4><%= order.id %></h4>
    <span>حالة الطلب: <%= order.status %></span>
    <span>عدد المنتجات: <%= order.products_count %></span>
    <span>تاريخ الطلب: <%= order.created_at %></span>
    <% end %>
  <% end %>

</div>