<h3 class="mb-4">معلومات الطلب</h3>

<div class="bg-white p-3 rounded">
  <div class="text-primary"><strong>رقم الطلب:</strong> #<%= @order.id %></div>
  <div><strong>عدد المنتجات:</strong> <%= @order.products_count %></div>
  <div><strong>حالة الطلب:</strong> <%= order_status @order.status %></div>
  <div><strong>تاريخ الطلب:</strong> منذ <%= time_ago_in_words @order.created_at %></div>
  <div><strong>المنتجات:</strong> </div>
  <% @products.each do |product| %>
    <%= render 'products/product', product: product do %>
      <div>
        <span><strong>الكمية:</strong> <%= product.qt %></span>
      </div>
    <% end %>
  <% end %>
  <div class="bg-white mt-3 d-flex justify-content-between align-items-center">
    <strong>المجموع : <span dir="ltr"><%= number_to_currency(@products.sum { |item| item.price * item.qt }) %></span></strong>
  </div>
</div>