<h3 class="mb-4">سلة المشتريات</h3>

<% @carts.each do |cart| %>
  <%= render 'products/product', product: cart.product do %>
      <div>
          <%= link_to '-', decrement_cart_path(cart.product_id), class: 'btn btn-seconary shadow-none' %>
          <strong><%= cart.qt %></strong>
          <%= link_to '+', increment_cart_path(cart.product_id), class: 'btn btn-seconary shadow-none' %>
          <%= link_to 'حذف', cart_path(cart.product_id), method: :delete, data: { confirm: 'هل أنت متأكد؟' }, class: 'btn btn-danger btn-sm shadow-none ps-3' %>
        </div>
  <% end %>
<% end %>

<% if @carts.size.positive? %>
<div class="bg-white p-2 my-3 d-flex justify-content-between align-items-center">
  <strong>المجموع : <span dir="ltr"><%= number_to_currency(@carts.sum { |item| item.price * item.qt }) %></span></strong>
  <%= link_to 'متابعة للدفع', '/checkout', class: 'btn btn-primary btn-lg shadow-none' %>
</div>
<% else %>
<div class="text-center text-muted">سلة المشتريات فارغة</div>
<% end %>