<div>

<h3>المنتجات</h3>
<%= link_to 'اضافة منتج', new_admin_product_path %>

<table class="table">
  <thead>
    <tr>
        <th>#ID</th>
        <th>الصورة</th>
        <th>الإسم</th>
        <th>السعر</th>
        <th>الوصف</th>
        <th>كلمات مفتاحية</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
        <tr>
            <td><%= link_to product.id, admin_product_path(product) %></td>
            <td><%= image_tag product.image, height: '100' %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.description %></td>
            <td><%= product.keywords %></td>
            <td>
              <%= link_to 'حذف', admin_product_path(product), method: :delete %>
              <%= link_to 'تعديل', edit_admin_product_path(product) %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>

</div>