<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <title>CellFashions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <div class="col-md-8 mx-auto py-4">
         <div class="text-center">
           <a href="<%= root_path %>"><%= image_tag "logo.png", width: 170 %></a>
         </div>
         <ul class="justify-content-center my-4 nav">
          <li class="nav-item">
            <a class="nav-link nav-link text-dark <%= current_page?(controller: :home) ? 'bg-light' : '' %>" href="<%= root_path %>">الرئيسية</a>
          </li>
          <li class="nav-item">
            <%= link_to "سلة المشتريات(#{current_user.carts.count})", carts_path, class: "nav-link text-dark #{current_page?(controller: :carts) ? 'bg-light' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'طلباتي', orders_path, class: "nav-link text-dark #{current_page?(controller: :orders) ? 'bg-light' : ''}" %>
          </li>
        </ul>
        <%= alert_notice %>
        <%= alert_success %>
        <%= alert_alert %>
        <%= yield %>
       </div>
    </div>
  </body>
</html>
