<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <title>CellFashions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'الرئيسية', root_path %>

      <%= link_to "سلة المشتريات(#{current_user.carts.count})", carts_path %>
      <%= link_to 'طلباتي', orders_path %>
    </div>
    <%= flash[:notice] %>
    <%= flash[:success] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
